.users
{
  width: 100%;
  padding: 8px 16px 24px;
  height: 80vh;
  overflow: scroll;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
